:root {
  --primary0: #483698;
  --secondary0: #ffffff;
  --secondary-1: #f9f9f9;
  --secondary-4: #8a8a8a;
  --secondary-7: #282828;
  --cta-1: #ffe766;
  --cta0: #fbde40;
  --danger: #dc3545;
  --transparent: none;
}
